.card {
   border-radius: 10px;
   border: lightgray solid 3px;
   height: 30vh;
   width: 20vw;
   margin-top: 5vh;
}

.card h2 {
    text-transform: uppercase;
}

.card-image {
   border: 1px lightgray solid;
}